<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo_suite" verbose="10" >
  <test name="Login_test" >
  	<classes>
      <class name="testClasses.LoginPageTest"/>
      <class name="testClasses.HomePageTest"/>
    </classes>
 </test>
</suite>